@charset "UTF-8";
/* リキッドレイアウト対応 */
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

body.drawer-open {
  overflow: hidden;
}

html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

body {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-inner {
  max-width: 600px;
  max-width: 37.5rem;
  width: 100%;
  padding-right: 13px;
  padding-left: 13px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.p-404 {
  height: 100vh;
  padding-top: 89px;
  padding-top: 5.5625rem;
  padding-bottom: 110px;
  padding-bottom: 6.875rem;
  background: url(../images/common/mv_404_sp.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .p-404 {
    background: url(../images/common/mv_404.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 11rem;
    padding-bottom: 6rem;
    height: 48rem;
  }
}

.p-404__content {
  border: 3px solid #fff;
  padding-top: 116px;
  padding-top: 7.25rem;
  padding-bottom: 116px;
  padding-bottom: 7.25rem;
  background: rgba(255, 255, 255, .5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  padding-left: 30px;
  padding-left: 1.875rem;
  padding-right: 30px;
  padding-right: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-404__content {
    padding-left: 0;
    padding-left: initial;
    padding-right: 0;
    padding-right: initial;
  }
}

.p-404__block {
  max-width: 650px;
  max-width: 40.625rem;
  margin-inline: auto;
}

.p-404__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-404__title {
  color: #000;
  font-weight: 600;
  font-family: "Urbanist", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .p-404__title {
    font-size: 2.5rem;
  }
}

.p-404__number {
  color: rgba(0, 0, 0, .15);
  letter-spacing: 0.05em;
  line-height: 1;
  font-size: 68px;
  font-size: 4.25rem;
  margin-left: 15px;
  margin-left: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-404__number {
    margin-left: 1.375rem;
    font-size: 8rem;
  }
}

.p-404__text-wrapper {
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .p-404__text-wrapper {
    margin-top: 1.5rem;
  }
}

.p-404__text {
  line-height: 1.6;
  font-weight: 400;
  color: #000;
  font-size: 13px;
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .p-404__text {
    font-size: 1.125rem;
  }
}

.p-404__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 5px;
  margin-top: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .p-404__btn-wrapper {
    margin-top: 1.5rem;
  }
}

.p-404__btn {
  background: #6d6d6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #6d6d6d;
  border-radius: 2.5rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 140px;
  width: 8.75rem;
  padding: 6px 10px;
  padding: 0.375rem 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-404__btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.375rem;
    padding-right: 0.875rem;
    width: 15.625rem;
  }
}

.p-404__btn-text {
  font-weight: 500;
  color: #fff;
  font-size: 10px;
  font-size: 0.625rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .p-404__btn-text {
    letter-spacing: 0.1em;
    font-size: 1rem;
  }
}

.p-404__btn:hover {
  background: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.p-404__btn:hover .p-404__text {
  color: #fff;
}

.p-404__btn svg {
  width: 15px;
  width: 0.9375rem;
  height: 15px;
  height: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-404__btn svg {
    width: 2rem;
    height: 2rem;
  }
}

.p-404__btn circle,
.p-404__btn path {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.p-404__btn:hover circle {
  fill: #6d6d6d;
  opacity: 1;
}

.p-404__btn:hover path {
  fill: #fff;
}

.p-404__btn:hover .p-404__btn-text {
  color: #6d6d6d;
}

.p-top-choose {
  padding-top: 113px;
  padding-top: 7.0625rem;
  padding-bottom: 120px;
  padding-bottom: 7.5rem;
}

.p-top-choose__title {
  text-align: center;
}

.p-top-choose__lists {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 38px;
  margin-top: 2.375rem;
  gap: 40px;
  gap: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-top-choose__lists {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
  }
}

.p-top-choose__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 350/190;
}
@media screen and (min-width: 768px) {
  .p-top-choose__img {
    aspect-ratio: 350/350;
  }
}

.p-top-choose__detail {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="0" /><feOffset dx="4" dy="4" result="offsetblur" /><feFlood flood-color="rgba(216,216,216,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(3px 3px 0px #d8d8d8);
          filter: drop-shadow(3px 3px 0px #d8d8d8);
  background: #fff;
  padding: 10px 12px;
  padding: 0.625rem 0.75rem;
  padding-bottom: 27px;
  padding-bottom: 1.6875rem;
}
@media screen and (min-width: 768px) {
  .p-top-choose__detail {
    padding: 1.5625rem 0.75rem;
  }
}

.p-top-choose__list-title {
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  line-height: 1.1666666667;
}

.p-top-choose__text {
  font-size: 16px;
  font-size: 1rem;
  color: #000;
  line-height: 1.75;
  margin-top: 6px;
  margin-top: 0.375rem;
}
@media screen and (min-width: 768px) {
  .p-top-choose__text {
    margin-top: 0.5rem;
  }
}

.p-top-choose__btn-wrapper {
  text-align: center;
}

.p-top-choose__btn {
  display: inline-block;
  background: #ffff00;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="0" /><feOffset dx="4" dy="4" result="offsetblur" /><feFlood flood-color="rgba(216,216,216,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(3px 3px 0px #d8d8d8);
          filter: drop-shadow(3px 3px 0px #d8d8d8);
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  color: #000;
  line-height: 1.75;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-top: 16px;
  margin-top: 1rem;
  width: 250px;
  width: 15.625rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
  padding-top: 0.8125rem;
  padding-bottom: 13px;
  padding-bottom: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .p-top-choose__btn {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    margin-top: 1.3125rem;
    width: 100%;
  }
}

.p-top-choose__btn:hover {
  background: #d00303;
  color: #fff;
}

.p-top-future {
  width: 100%;
  background: #f8f8f8;
}

.p-top-future img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.p-top-recruit {
  padding-top: 90px;
  padding-top: 5.625rem;
  padding-bottom: 75px;
  padding-bottom: 4.6875rem;
}
@media screen and (min-width: 768px) {
  .p-top-recruit {
    padding-top: 6.875rem;
    padding-bottom: 6.75rem;
  }
}

.p-top-recruit__title {
  text-align: center;
}

.p-top-recruit__text-wrapper {
  margin-top: 38px;
  margin-top: 2.375rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-top-recruit__text-wrapper {
    margin-top: 2.8125rem;
  }
}

.p-top-recruit__text {
  font-size: 16px;
  font-size: 1rem;
  color: #000;
  line-height: 1.75;
}

.p-top-recruit__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-top-recruit__btn-wrapper {
    margin-top: 1.875rem;
  }
}

.p-top-recruit__btn {
  display: inline-block;
  width: 330px;
  width: 20.625rem;
  margin-left: auto;
  margin-right: auto;
  background: #ffff00;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="0" /><feOffset dx="4" dy="4" result="offsetblur" /><feFlood flood-color="rgba(216,216,216,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(3px 3px 0px #d8d8d8);
          filter: drop-shadow(3px 3px 0px #d8d8d8);
  padding-top: 12px;
  padding-top: 0.75rem;
  padding-bottom: 15px;
  padding-bottom: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-top-recruit__btn {
    padding-top: 0.875rem;
    padding-bottom: 1.125rem;
    width: 28.125rem;
  }
}

.p-top-recruit__btn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  gap: 6px;
  gap: 0.375rem;
}
@media screen and (min-width: 768px) {
  .p-top-recruit__btn-row {
    gap: 0.5rem;
  }
}

.p-top-recruit__btn:hover .p-top-recruit__btn-row {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.p-top-recruit__btn-row svg {
  max-width: 38px;
  max-width: 2.375rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.p-top-recruit__num {
  font-weight: 700;
  color: #000;
  font-size: 30px;
  font-size: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-top-recruit__num {
    font-size: 2.25rem;
  }
}

.p-top-recruit__btn-bottom {
  text-align: center;
  font-weight: 400;
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2.3333333333;
  color: #000;
}
@media screen and (min-width: 768px) {
  .p-top-recruit__btn-bottom {
    font-size: 1rem;
    line-height: 1.75;
  }
}

.p-top-room {
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
}
@media screen and (min-width: 768px) {
  .p-top-room {
    padding-bottom: 7.5rem;
  }
}

.p-top-room__title {
  text-align: center;
}

.p-top-room__content {
  max-width: 820px;
  max-width: 51.25rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
  margin-top: 2.375rem;
}
@media screen and (min-width: 768px) {
  .p-top-room__content {
    margin-top: 2.1875rem;
  }
}

.p-top-room__lists {
  display: grid;
  gap: 30px;
  gap: 1.875rem;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {
  .p-top-room__lists {
    gap: 1.25rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-top-room__link {
  display: block;
  position: relative;
  overflow: hidden;
}

.p-top-room__img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.p-top-room__link:hover .p-top-room__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.p-top-room__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 350/115;
}
@media screen and (min-width: 768px) {
  .p-top-room__img img {
    aspect-ratio: 400/144;
  }
}

.p-top-room__text {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  font-weight: 700;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-size: 1rem;
  padding-top: 3px;
  padding-top: 0.1875rem;
  padding-bottom: 3px;
  padding-bottom: 0.1875rem;
  width: 140px;
  width: 8.75rem;
}
@media screen and (min-width: 768px) {
  .p-top-room__text {
    width: 10rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 1.125rem;
  }
}

.c-main-text {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.6;
  color: #000;
}
@media screen and (min-width: 768px) {
  .c-main-text {
    font-size: 1.125rem;
    line-height: 1.75;
  }
}

.c-main-title {
  font-weight: 700;
  color: #000;
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .c-main-title {
    font-size: 1.875rem;
  }
}

.c-main-title::before {
  position: absolute;
  content: "";
  background: #ffff00;
  width: 100px;
  width: 6.25rem;
  height: 2px;
  height: 0.125rem;
  bottom: -16px;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=styles.css.map */
