@use "global" as *;

.p-block {
  background: #ffffff;
  padding-top: rem(56);
  padding-left: rem(12);
  padding-right: rem(12);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  padding-bottom: rem(90);
  @include mq(md) {
    padding: rem(48);
    margin-left: initial;
    margin-right: initial;
    width: initial;
  }
}
.p-block--white {
  background: transparent;
  margin-top: rem(94);
  @include mq(md) {
    margin-top: rem(150);
  }
}

.p-block__lists {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-left: rem(16);
  padding-right: rem(16);
  margin-top: rem(50);
  gap: rem(50);
  @include mq(md) {
    margin-top: rem(38);
    gap: rem(30);
    grid-template-columns: repeat(3, 1fr);
    padding-left: initial;
    padding-right: initial;
  }
}

.p-block__list {
}

.p-block__img {
  margin-left: auto;
  margin-right: auto;
  max-width: rem(240);
  @include mq(md) {
    max-width: rem(150);
  }
}
.p-block__img img {
  aspect-ratio: 150 / 150;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-block__detail {
  margin-top: rem(2);
}

.p-block__detail-title {
  text-align: center;
  color: #000;
  font-weight: 700;
  font-size: rem(16);
  line-height: calc(28 / 18);
  @include mq(md) {
    font-size: rem(18);
    line-height: calc(28 / 18);
  }
}

.p-block__explain {
  margin-top: rem(20);
  padding-top: rem(20);
  font-size: rem(16);
  line-height: calc(28 / 16);
  font-weight: 400;
  color: #000;
  border-top: 1px solid #707070;
  padding-left: rem(4);
  padding-right: rem(4);
}
.p-block__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: rem(21);
  gap: rem(70);
  @include mq(md) {
    column-gap: rem(40);
    row-gap: rem(60);
    margin-top: rem(50);
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-block__card {
}

.p-block__cardImg {
}
.p-block__cardImg img {
  aspect-ratio: 480 / 350;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-block__cardDetail {
  padding-top: rem(10);
  @include mq(md) {
    padding-top: rem(20);
  }
}

.p-block__cardDetail-title {
  font-size: rem(18);
  color: #000;
  font-weight: 700;
  line-height: calc(28 / 18);
}

.p-block__cardDetail-explain {
  margin-top: rem(10);
  padding-top: rem(10);
  font-size: rem(16);
  line-height: calc(28 / 16);
  font-weight: 400;
  color: #000;
  border-top: 1px solid #707070;
  padding-left: rem(4);
  padding-right: rem(4);
}
.p-block__arrow-img {
  max-width: rem(680);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(18);
  @include mq(md) {
    margin-top: rem(22);
  }
}
.p-block__arrow-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.p-block__point {
  margin-top: rem(42);
}
.p-block__cardBtn-wrapper {
}

.p-block__cardBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: rem(11);
}

.p-block__cardText {
  font-size: rem(16);
  color: #000;
  font-weight: 400;
  line-height: calc(28 / 16);
}

.p-block__cardBtn-icon {
  width: rem(60);
  height: rem(50);
  background: #ffff00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-block__cardBtn-icon svg {
  max-width: rem(12);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
