@use "global" as *;

.p-course {
  background: #f8f8f8;
  padding-top: rem(58);
  @include mq(md) {
    padding-top: rem(88);
  }
}

.p-course__title {
  text-align: center;
  margin-top: rem(97);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.p-course__sub {
  text-align: center;
  font-weight: 700;
  line-height: calc(28 / 18);
  margin-top: rem(40);
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(18);
    margin-top: rem(48);
  }
}

.p-course__content {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(68);
  }
}

.p-course__pageLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: rem(900);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  gap: rem(11);
  @include mq(md) {
    gap: rem(30);
  }
}

.p-course__pageLink {
  filter: drop-shadow(3px 3px 0px #d8d8d8);
}

.p-course__pageLink-link {
  background: #fff;
  display: block;
  padding-bottom: rem(9);
  @include mq(md) {
    padding-bottom: initial;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.p-course__linkImg {
  width: 100%;
  @include mq(md) {
    max-width: rem(130);
  }
}
.p-course__linkImg img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 100 / 69;
  @include mq(md) {
    aspect-ratio: 130 / 130;
  }
}

.p-course__linkText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: rem(17);
  padding-right: rem(25);
  height: 100%;
  padding-top: rem(9);
  @include mq(md) {
    padding-top: initial;
  }
}
.p-course__linkText svg {
  margin-top: rem(12);
}

.p-course__linkTitle {
  font-weight: 700;
  color: #000;
  font-size: rem(16);
  line-height: calc(24 / 16);
  @include mq(md) {
    font-size: rem(18);
    line-height: calc(28 / 18);
  }
}

.p-course__block {
  margin-top: rem(23);
  @include mq(md) {
    margin-top: rem(61);
  }
}
