@use "global" as *;

.p-contact {
  padding-top: rem(65);
  padding-bottom: rem(46);
  background: #f8f8f8;
  @include mq(md) {
    padding-top: rem(88);
  }
}
.p-contact__content {
  background: #fff;
  margin-top: rem(17);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  padding-top: rem(53);
  padding-left: rem(15);
  padding-right: rem(15);
  padding-bottom: rem(60);
  @include mq(md) {
    padding-top: rem(70);
    padding-left: rem(170);
    padding-right: rem(170);
    padding-bottom: rem(70);
  }
}
.p-contact__title {
  text-align: center;
}
.p-contact__attention {
  margin-top: rem(56);
  background: #d00303;
  text-align: center;
  padding-top: rem(16);
  padding-bottom: rem(16);
  @include mq(md) {
    padding-top: rem(14);
    padding-bottom: rem(14);
  }
}

.p-contact__attention-text {
  color: #fff;
  font-weight: 700;
  font-size: rem(12);
  line-height: 2;
  @include mq(md) {
    font-size: rem(16);
    line-height: calc(28 / 16);
  }
}
