@use "global" as *;

.p-detail {
}

.p-detail__title-wrapper {
  text-align: center;
}

.p-detail__slider {
  margin-right: calc(50% - 50vw);
  margin-top: rem(30);
  position: relative;
  @include mq(md) {
    margin-right: initial;
  }
}
.p-detail__slider--secondary {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    max-width: rem(985);
  }
}
.swiper-detail {
  margin-top: rem(30);
  @include mq(md) {
    overflow: initial !important;
    margin-top: initial;
  }
}
.swiper-detail .swiper-wrapper {
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(20);
  }
}
.swiper-wrapper--secondary {
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: rem(35) !important;
    margin-top: rem(63);
  }
}

.p-detail__img img {
  aspect-ratio: 250 / 175;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-detail__block {
  padding-top: rem(18);
}

.p-detail__title {
  font-size: rem(18);
  color: #000;
  font-weight: 700;
  line-height: calc(28 / 18);
  text-align: center;
}
.p-detail__title--red {
  color: #f87474;
}
.p-detail__text {
  margin-top: rem(20);
  padding-top: rem(20);
  border-top: 1px solid #707070;
  font-size: rem(16);
  line-height: calc(28 / 16);
  color: #000;
}
.p-detail__slider .swiper-button-prev {
  margin-left: rem(-13);
  @include mq(md) {
    display: none;
  }
}
.p-detail__slider .swiper-button-next {
  @include mq(md) {
    display: none;
  }
}
.p-detail__slider-bg {
  position: relative;
}
.p-detail__slider-bg::before {
  position: absolute;
  content: "";
  background: #f8f8f8;
  top: rem(-23);
  right: rem(-13);
  left: rem(-13);
  bottom: rem(-59);
  z-index: -1;
}
.p-detail__test {
  margin-top: rem(20);
  max-width: rem(276);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.p-detail__test img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.p-detail__swiper-button {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  width: 100%;
  @include mq(md) {
    display: none;
  }
}
