@use "global" as *;

.p-drawer-icon {
  background: #000;
  transition: 0.3s;
  width: rem(70);
  height: rem(57);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    display: none;
  }
}
.p-drawer-icon__text {
  color: #fff100;
  font-size: rem(12);
  font-weight: 400;
  line-height: calc(28 / 12);
  position: absolute;
  bottom: rem(-10);
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}
.p-drawer-icon.is-active {
  position: relative;
  z-index: 10001;
  background: #222;
  .p-drawer-icon__bars {
    width: rem(15);
    height: rem(15);
  }
  .p-drawer-icon__bar1 {
    background: #fff100;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-21deg);
  }
  .p-drawer-icon__bar2 {
    display: none;
  }
  .p-drawer-icon__bar3 {
    background: #fff100;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(21deg);
  }
  .p-drawer-icon__text {
    position: absolute;
    bottom: rem(-20);
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
}
.p-drawer-icon__bars {
  position: relative;
  width: rem(48);
  height: rem(36);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: rem(6);
  padding-top: rem(4);
}
.p-drawer-icon__bar1 {
  height: 2px;
  background: #fff100;
  transition: 0.5s;
  width: rem(25);
  display: flex;
}
.p-drawer-icon__bar2 {
  height: 2px;
  background: #fff100;
  transition: 0.5s;
  width: rem(25);
  display: flex;
}

.p-drawer-icon__bar3 {
  height: 2px;
  background: #fff100;
  transition: 0.5s;
  display: flex;
  width: rem(25);
}

.p-drawer-content {
  width: 100%;
  height: 100dvh;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  z-index: 9998;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  padding-top: rem(92);
}
.p-drawer-content.is-active {
  visibility: visible;
  opacity: 1;
}
.p-drawer-content__items {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-drawer-content__lists {
}

.p-drawer-content__list {
  text-align: center;
}
.p-drawer-content__list + .p-drawer-content__list {
  margin-top: rem(30);
}
.p-drawer-content__link {
  font-size: rem(16);
  display: block;
  font-weight: 700;
  color: #000;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}
.p-drawer-content__img {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  margin-top: auto;
}
.p-drawer-content__img img {
  aspect-ratio: 375 / 315;
  object-fit: cover;
  width: 100%;
  height: auto;
}
