@use "global" as *;

.p-footer {
  padding-top: rem(28);
  background: #000000;
  overflow: hidden;
  padding-bottom: rem(106);
  @include mq(md) {
    padding-bottom: rem(41);
  }
}
.p-footer--down {
  padding-top: initial;
  position: relative;
}
.p-footer__content {
  text-align: center;
  padding-top: rem(35);
  @include mq(md) {
    padding-top: initial;
  }
}

.p-footer__img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: rem(230);
  @include mq(md) {
    max-width: rem(394);
  }
}
.p-footer__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.p-footer__block {
  margin-top: rem(23);
}

.p-footer__address-wrapper {
}

.p-footer__address {
  color: #fff;
  font-size: rem(12);
  line-height: calc(18 / 12);
  @include mq(md) {
    font-size: rem(16);
    line-height: calc(28 / 16);
  }
}

.p-footer__tel {
  display: block;
  margin-top: rem(10);
  @include mq(md) {
    margin-top: rem(2);
  }
}

.p-footer__tel-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
}
.p-footer__tel-logo img {
  max-width: rem(38);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.p-footer__number {
  color: #fff;
  font-weight: 700;
  font-size: rem(40);
  @include mq(md) {
    font-size: rem(50);
  }
}

.p-footer__time {
  margin-top: rem(4);
  color: #fff;
  line-height: calc(28 / 16);
  font-size: rem(12);
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-footer__icon-lists {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(36);
  gap: rem(50);
  @include mq(md) {
    gap: rem(38);
  }
}

.p-footer__icon-list {
}

.p-footer__icon-link {
  max-width: rem(40);
  @include mq(md) {
    max-width: rem(30);
  }
}
.p-footer__icon-link img {
  max-width: rem(40);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  @include mq(md) {
    max-width: rem(30);
  }
}

.p-footer__lists {
  display: none;
  @include mq(md) {
    margin-top: rem(60);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(30);
  }
}

.p-footer__list {
}

.p-footer__link {
  color: #fff;
  font-size: rem(16);
  line-height: calc(28 / 16);
  transition: 0.3s ease-in-out;
}
.p-footer__link:hover {
  color: #ffff00;
  opacity: 1;
}

.p-footer__line {
  color: #fff;
  font-size: rem(16);
  line-height: calc(28 / 16);
}

.p-footer__small {
  position: relative;
  margin-top: rem(35);
  padding-top: rem(16);
  text-align: center;
  @include mq(md) {
    text-align: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(22);
    padding-top: rem(41);
  }
}
.p-footer__small::before {
  position: absolute;
  content: "";
  background: #fff;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  height: 1px;
  top: 0;
  left: 0;
  right: 0;
}
.p-footer__small small {
  color: #fff;
  font-size: rem(12);
  line-height: calc(28 / 12);
  @include mq(md) {
    font-size: rem(16);
    line-height: calc(28 / 16);
  }
}
.p-footer__privacy {
  display: none;
  @include mq(md) {
    display: block;
    font-size: rem(16);
    color: #fff;
    line-height: calc(28 / 16);
    transition: 0.3s ease-in-out;
  }
}
.p-footer__privacy:hover {
  color: #ffff00;
  opacity: 1;
}
.p-footer__icon-link--youtube {
  pointer-events: none;
}
