@use "global" as *;

.p-flow {
  padding-top: rem(50);
  background: #f8f8f8;
  padding-bottom: rem(66);
  @include mq(md) {
    padding-bottom: initial;
  }
}

.p-flow__title {
  text-align: center;
}

.p-flow__lists {
  display: grid;
  margin-top: rem(68);
  grid-template-columns: repeat(1, 1fr);
  gap: rem(72);
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    gap: rem(45);
  }
}

.p-flow__list {
  display: flex;
  @include mq(md) {
    display: block;
  }
}
.p-flow__list:first-child,
.p-flow__list:nth-child(2),
.p-flow__list:nth-child(3) {
  position: relative;
}
.p-flow__list:nth-child(2),
.p-flow__list:nth-child(4) {
  margin-top: rem(104);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-flow__list:nth-child(3) {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-flow__list:first-child::before,
.p-flow__list:nth-child(3)::before {
  position: absolute;
  content: "";
  background: url(../images/common/flow_arrow_big_sp.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(140);
  aspect-ratio: 142 / 47;
  bottom: rem(-64);
  left: 50%;
  transform: translateX(-50%);
  @include mq(md) {
    position: absolute;
    content: "";
    background: url(../images/common/flow_arrow_big.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: rem(46);
    aspect-ratio: 47 / 142;
    top: rem(64);
    bottom: initial;
    right: rem(-50);
    left: initial;
    transform: initial;
  }
}
.p-flow__list:nth-child(2)::before {
  position: absolute;
  content: "or";
  top: rem(160);
  font-size: rem(24);
  color: #000;
  font-weight: 700;
  left: rem(36);
  @include mq(md) {
    position: absolute;
    content: "or";
    top: rem(64);
    left: initial;
    font-size: rem(24);
    color: #000;
    font-weight: 700;
    right: rem(-40);
  }
}
.p-flow__img {
  max-width: rem(100);
  min-width: rem(100);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(28);
  @include mq(md) {
    margin-top: initial;
    max-width: rem(150);
    min-width: rem(150);
  }
}
.p-flow__img img {
  aspect-ratio: 150 / 150;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-flow__img--1,
.p-flow__img--2,
.p-flow__img--3 {
  position: relative;
}
.p-flow__img--1::before {
  position: absolute;
  content: "";
  background: url(../images/common/flow_step1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(71);
  aspect-ratio: 71 / 66;
  object-fit: cover;
  height: auto;
  z-index: 1;
  top: rem(-56);
  left: 0;
  @include mq(md) {
    left: rem(-10);
    top: rem(-24);
  }
}
.p-flow__img--2::before {
  position: absolute;
  content: "";
  background: url(../images/common/flow_step2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(71);
  aspect-ratio: 71 / 66;
  object-fit: cover;
  height: auto;
  top: rem(-56);
  left: 0;
  z-index: 1;
  @include mq(md) {
    left: rem(-10);
    top: rem(-24);
  }
}
.p-flow__img--3::before {
  position: absolute;
  content: "";
  background: url(../images/common/flow_step3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(71);
  aspect-ratio: 71 / 66;
  object-fit: cover;
  height: auto;
  top: rem(-56);
  left: 0;
  z-index: 1;
  @include mq(md) {
    left: rem(-10);
    top: rem(-24);
  }
}
.p-flow__detail {
  padding-top: rem(8);
}

.p-flow__subTitle {
  font-size: rem(18);
  font-weight: 700;
  line-height: calc(28 / 18);
  color: #000;
  @include mq(md) {
    text-align: center;
  }
}

.p-flow__text {
  font-size: rem(16);
  color: #000;
  line-height: calc(28 / 16);
  font-weight: 400;
  margin-top: rem(6);
}
.p-flow__bottom {
  margin-top: rem(60);
  @include mq(md) {
    margin-top: rem(50);
    text-align: center;
  }
}

.p-flow__bottom-text {
  font-size: rem(16);
  line-height: calc(28 / 16);
  font-weight: 400;
}
