@use "global" as *;

.p-form {
  max-width: rem(500);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(38);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.wpcf7-spinner {
  display: none;
}

.p-form__privacy {
  margin-top: rem(12);
  text-align: center;
  .wpcf7-form-control-wrap {
    display: block;
  }
  .wpcf7-form-control.wpcf7-checkbox {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }
  span.wpcf7-list-item {
    position: relative;
  }
  .wpcf7-list-item-label {
    /*項目の色や文字サイズ*/
    color: $black;
    cursor: pointer;
    line-height: 1;
    font-size: rem(14);
    @include mq(md) {
      font-size: rem(16);
    }
  }
  input[type="checkbox"] {
    position: absolute;
    opacity: 0; /*既存のチェックボックスを見えなくする*/
  }
  .wpcf7-list-item-label:before {
    /*チェックボックスの枠*/
    content: "";
    background: #f8f8f8;
    border: 1px solid #707070;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: rem(5);
    display: inline-block;
    width: rem(30);
    height: rem(30);
    position: relative;
    top: -1px;
    margin-right: rem(12);
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
  }
  input[type="checkbox"]:checked + .wpcf7-list-item-label:after {
    /*チェックアイコン*/
    position: absolute;
    content: "";
    display: block;
    width: rem(20);
    height: rem(20);
    top: 4px;
    background: url(../images/common/check-box-mark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.wpcf7-list-item {
  margin-left: initial;
}
.p-form__description input[type="text"],
.p-form__description input[type="email"],
.p-form__description input[type="tel"],
.p-form__description input[type="date"],
.p-form textarea {
  background: #f8f8f8;
  border: 1px solid #707070;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding-left: rem(20);
  padding-right: rem(20);
  padding-top: rem(13);
  padding-bottom: rem(13);
}
.p-form__description input[type="email"],
.p-form__description input[type="text"],
.p-form textarea {
  width: 100%;
}
.p-form textarea {
  height: rem(200);
  @include mq(md) {
    height: rem(250);
  }
}
.p-form__description input[type="tel"] {
  width: rem(154);
}
.p-form__description--cancel input[type="tel"] {
  width: 100%;
  @include mq(md) {
    width: rem(312);
  }
}
.p-form__description input[type="date"] {
  width: rem(160);
  height: rem(56);
}
.p-form__description--state input[type="text"] {
  width: rem(203);
}

.p-form__dt-wrapper {
  display: flex;
  gap: rem(10);
  align-items: center;
}
.p-form__dt {
  font-weight: 500;
  font-size: rem(12);
  color: #000;
  line-height: calc(28 / 12);
  @include mq(md) {
    font-size: rem(12);
  }
}
.p-form__dt--thin {
  font-weight: 400;
}
.p-form__fz16 {
  @include mq(md) {
    font-size: rem(16);
  }
}
.p-form__mt16 {
  margin-top: rem(16);
}
.p-form__need {
  color: #d00303;
  font-size: rem(12);
  line-height: 1;
  background: transparent;
  border: 1px solid #d00303;
  border-radius: 9999px;
  padding-left: rem(5);
  padding-right: rem(5);
  padding-top: rem(2);
  padding-bottom: rem(2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-form__any {
  color: #222;
  font-size: rem(12);
  line-height: 1;
  font-weight: 500;
  width: rem(32);
  height: rem(18);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: rem(2);
}
.p-form__description {
  margin-top: rem(5);
}
.p-form__description-row {
  @include mq(md) {
    display: flex;
    gap: rem(12);
  }
}
.p-form__description-rowBox + .p-form__description-rowBox {
  margin-top: rem(12);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-form__description-explain {
  margin-bottom: rem(6);
}
.p-form__row + .p-form__row {
  margin-top: rem(10);
}
.p-form__row--mt {
  margin-top: rem(40);
}
.p-form__btn-wrapper {
  text-align: center;
  margin-top: rem(30);
  position: relative;
  width: rem(250);
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    width: rem(300);
    margin-top: rem(25);
  }
}
.p-form input[type="submit"] {
  background: #ffff00;
  display: inline-block;
  color: #000;
  text-align: center;
  line-height: calc(28 / 16);
  font-weight: 400;
  width: rem(250);
  font-size: rem(16);
  transition: 0.3s ease-in-out;
  padding-top: rem(11);
  padding-bottom: rem(11);
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.2));
  @include mq(md) {
    padding-top: rem(16);
    padding-bottom: rem(16);
    font-size: rem(16);
    width: rem(300);
  }
}
.p-form input[type="submit"]:hover {
  background: #fff;
  color: $black;
}
.p-form input[type="button"] {
  background: #fff;
  display: inline-block;
  color: $black;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 700;
  border-radius: 9999px;
  width: rem(220);
  font-size: rem(16);
  padding-top: rem(24);
  padding-bottom: rem(24);
  transition: 0.3s ease-in-out;
  border: 1px solid $black;
  @include mq(md) {
    padding-top: rem(30);
    padding-bottom: rem(30);
    font-size: rem(20);
    width: rem(280);
  }
}
.p-form__btn--previous {
  margin-bottom: rem(12);
  @include mq(md) {
    margin-bottom: rem(16);
  }
}
.p-form input[type="button"]:hover {
  background: $black;
  color: #fff;
}
.p-form .wpcf7-free-text {
  width: 100%;
  display: block;
  margin-top: rem(20);
}
.p-form__description--radio {
  .wpcf7-list-item-label {
    cursor: pointer;
    display: flex;
    color: $black;
    font-size: rem(16);
  }
  /* デフォルトのボタン */
  input[type="radio"] {
    opacity: 0; /* デフォルトのボタンを非表示 */
    position: absolute;
  }
  /* チェック前のボタン */
  .wpcf7-list-item-label::before {
    background: #fff;
    border: 1px solid #707070;
    border-radius: 100%; /* ラジオボタンっぽく丸くする */
    content: "";
    height: rem(20);
    margin-bottom: auto;
    margin-right: 0.5em;
    margin-top: auto;
    transition: background-color 0.5s; /* 色をじんわり変化させhttp://makingibi.local/contactる */
    width: rem(20);
  }
  /* チェック後のボタン */
  input[type="radio"]:checked + .wpcf7-list-item-label::before {
    background-color: #fff; /* チェック後の中心の色 */
    box-shadow: inset 0 0 0 5px $black; /* 中心の色のスタイル */
  }
  .custom-radio {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(18);
    gap: rem(24);
  }
}
.p-form__description--small {
  width: rem(160);
}
.p-form__description--postal {
  display: flex;
  gap: rem(20);
  align-items: center;
}
.p-form__description--postal .wpcf7-form-control-wrap {
  width: rem(87);
  display: inline-block;
}
.p-form__zipBtn {
  width: rem(80);
  color: #fff;
  font-size: rem(12);
  font-weight: 700;
  line-height: 1;
  background: $black;
  border: 1px solid $black;
  transition: 0.3s ease-in-out;
  height: rem(54);
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-form__zipBtn:hover {
  background: #fff;
  color: $black;
  cursor: pointer;
}
.p-form__privacy a {
  color: $black;
  text-decoration: underline;
}
.p-form__space {
  color: #666;
  font-size: rem(14);
}
.p-form__description-row {
  display: block;
  @include mq(md) {
    display: flex;
    align-items: center;
  }
}
.p-form__description-column + .p-form__description-column {
  margin-top: rem(20);
}
.p-form__description-column .wpcf7-text {
  margin-top: rem(12);
}
.p-form__column-wrapper {
  flex-direction: column;
  gap: rem(12);
  align-items: flex-start;
}
::placeholder {
  color: #d8d8d8;
  font-size: rem(16);
  font-weight: 500;
  line-height: calc(28 / 16);
}
.p-form__description--multi {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(12);
  }
}
.p-form__description--multi > .wpcf7-form-control-wrap {
  display: block;
}
.p-form__description--multi
  > .wpcf7-form-control-wrap
  + .wpcf7-form-control-wrap {
  margin-top: rem(12);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-form__smallText {
  color: #666;
  font-size: rem(14);
  line-height: 1;
  margin-top: rem(12);
}
[data-name="your-calender3"] {
  display: block;
  margin-top: rem(12);
  @include mq(md) {
    margin-top: initial;
  }
}
[data-name="your-calender2"] {
  margin-right: rem(12);
}
.p-form__description--nomt {
  margin-top: rem(12);
  @include mq(md) {
    margin-top: initial !important;
  }
}
.mb12 {
  margin-bottom: rem(12);
}
.fz16 {
  font-size: rem(16);
}
.fz14 {
  font-size: rem(14);
}
.p-form__privacy-small {
  font-size: rem(12);
  line-height: 1.4;
  color: #000;
  margin-top: rem(12);
  padding-left: rem(28);
}
.p-form__privacyText {
  color: #1a1a1a;
}
.p-form__privacyText a {
  text-decoration: underline;
  color: $black;
}
.p-form__small {
  font-size: rem(12);
  color: #ddd;
  line-height: 1;
  margin-top: rem(12);
}
.p-form select {
  width: 100%;
  background: #f8f8f8;
  border: 1px solid #707070;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding-top: rem(13);
  padding-bottom: rem(13);
  padding-left: rem(20);
  padding-right: rem(20);
}
