@use "global" as *;

.p-flow {
  padding-top: rem(50);
  background: #f8f8f8;
  padding-bottom: rem(66);
  @include mq(md) {
    padding-bottom: initial;
  }
}

.p-flow__content {
}

.p-flow__title {
  text-align: center;
}

.p-flow__lists {
  display: grid;
  margin-top: rem(68);
  grid-template-columns: repeat(1, 1fr);
  gap: rme(72);
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    gap: rem(45);
  }
}

.p-flow__list {
  display: flex;
  @include mq(md) {
    display: block;
  }
}

.p-flow__img {
  max-width: rem(100);
  min-width: rem(100);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    max-width: rem(150);
    min-width: rem(150);
  }
}
.p-flow__img img {
  aspect-ratio: 150 / 150;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-flow__img--1,
.p-flow__img--2,
.p-flow__img--3 {
  position: relative;
}
.p-flow__img--1::before {
  position: absolute;
  content: "";
  background: url(../images/common/flow_step1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(71);
  aspect-ratio: 71 / 66;
  object-fit: cover;
  height: auto;
  top: rem(-24);
  left: rem(-10);
  z-index: 1;
}
.p-flow__img--2::before {
  position: absolute;
  content: "";
  background: url(../images/common/flow_step2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(71);
  aspect-ratio: 71 / 66;
  object-fit: cover;
  height: auto;
  top: rem(-24);
  left: rem(-10);
  z-index: 1;
}
.p-flow__img--3::before {
  position: absolute;
  content: "";
  background: url(../images/common/flow_step3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(71);
  aspect-ratio: 71 / 66;
  object-fit: cover;
  height: auto;
  top: rem(-24);
  left: rem(-10);
  z-index: 1;
}
.p-flow__detail {
  padding-top: rem(8);
}

.p-flow__subTitle {
  font-size: rem(18);
  font-weight: 700;
  line-height: calc(28 / 18);
  color: #000;
  @include mq(md) {
    text-align: center;
  }
}

.p-flow__text {
  font-size: rem(16);
  color: #000;
  line-height: calc(28 / 16);
  font-weight: 400;
  margin-top: rem(6);
}
.p-flow__bottom {
  margin-top: rem(60);
  @include mq(md) {
    margin-top: rem(50);
    text-align: center;
  }
}

.p-flow__bottom-text {
  font-size: rem(16);
  line-height: calc(28 / 16);
  font-weight: 400;
}
