@use "global" as *;

.p-header {
  background: #fff;
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: rem(50);
  @include mq(md) {
    height: min(rem(80), calc(80 / 1440) * 100vw);
  }
}

.p-header__inner {
  height: inherit;
  padding-left: rem(15);
  @include mq(md) {
    padding-left: rem(34);
  }
}

.p-header__content {
  display: flex;
  align-items: center;
  height: inherit;
}

.p-header__logo {
  position: relative;
  z-index: 999;
}

.p-header__home {
  display: inline-block;
  width: rem(146);
  @include mq(md) {
    width: min(rem(212), calc(212 / 1440) * 100vw);
  }
}

.p-header__home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.p-header__nav {
  display: none;
  @include mq(md) {
    display: block;
    margin-left: auto;
    height: inherit;
  }
}

.p-header__lists {
  display: flex;
  align-items: center;
  gap: min(rem(40), calc(40 / 1440) * 100vw);
  height: inherit;
}

.p-header__list {
  height: inherit;
}

.p-header__link {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(rem(16), calc(16 / 1440) * 100vw);
  font-weight: 700;
  color: #000;
  line-height: calc(20 / 16);
  transition: 0.3s ease-in-out;
}
.p-header__link:hover {
  color: #d00303;
}
.p-header__link--btn {
  display: inline-block;
  width: min(rem(270), calc(270 / 1440) * 100vw);
}
.p-header__link--btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.p-header__drawer {
  margin-left: auto;
}
