@use "global" as *;

.p-mv {
  margin-top: rem(50);
  @include mq(md) {
    height: 100vh;
    margin-top: initial;
  }
}

.p-mv__img video {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 375 / 557;
  @include mq(md) {
    aspect-ratio: 1440 / 900;
    height: 100vh;
  }
}
