@use "global" as *;

.p-mv {
  margin-top: rem(50);
  height: 100vh;
  @include mq(md) {
    margin-top: initial;
  }
}

.p-mv__img video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  aspect-ratio: 375 / 557;
  @include mq(md) {
    aspect-ratio: 1440 / 900;
  }
}
