@use "global" as *;

.p-news {
  background: #f8f8f8;
  padding-top: rem(65);
  padding-bottom: rem(24);
  @include mq(md) {
    padding-top: rem(88);
    margin-bottom: rem(-80);
    padding-bottom: initial;
  }
}

.p-news__content {
  max-width: rem(1100);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  background: #fff;
  margin-top: rem(38);
  padding-top: rem(53);
  padding-left: rem(24);
  padding-right: rem(24);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-bottom: rem(70);
    margin-top: rem(25);
    padding-top: rem(70);
    padding-left: rem(20);
    padding-right: rem(20);
  }
}

.p-news__title {
  text-align: center;
}

.p-news__lists {
  max-width: rem(705);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(52);
  @include mq(md) {
    margin-top: rem(56);
  }
}

.p-news__list {
  display: block;
}
.p-news__list + .p-news__list {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(45);
  }
}

.p-news__link {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(40);
  }
}

.p-news__time {
  font-size: rem(16);
  font-weight: 400;
  line-height: calc(28 / 16);
  color: #000;
  @include mq(md) {
    width: rem(80);
  }
}

.p-news__text {
  font-size: rem(16);
  color: #1676a8;
  text-decoration: underline;
  line-height: calc(28 / 16);
  flex: 1;
}

.p-news__btn-wrapper {
  margin-top: rem(32);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.p-news__btn {
  display: flex;
  align-items: center;
  gap: rem(11);
}

.p-news__btn-text {
  font-size: rem(16);
  font-weight: 400;
  line-height: calc(28 / 16);
  color: #000;
}

.p-news__bg {
  width: rem(60);
  height: rem(50);
  display: flex;
  align-items: center;
  justify-items: center;
  background: #ffff00;
}
.p-news__bg svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: rem(12);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.p-news__pagination {
  margin-top: rem(48);
}
