@use "global" as *;

.p-other {
  max-width: rem(880);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #707070;
  padding-top: rem(25);
  padding-bottom: rem(20);
  margin-top: rem(50);
}

.p-other__circle {
  position: relative;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 9999px;
  width: rem(50);
  height: rem(50);
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(-50);
  display: block;
  text-align: center;
}
.p-other__circle::before {
  position: absolute;
  content: "";
  background: #707070;
  width: rem(15);
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-other__circle::after {
  position: absolute;
  content: "";
  background: #707070;
  width: rem(15);
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.p-other__row {
  text-align: center;
  @include mq(md) {
    text-align: initial;
    display: flex;
    align-items: flex-end;
    gap: rem(8);
    justify-content: center;
  }
}
.p-other__row + .p-other__row {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-other__row-wrapper {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(16);
  }
}
.p-other__detailRow {
  display: flex;
  align-items: flex-end;
  gap: rem(8);
  justify-content: center;
}
.p-other__text {
  font-size: rem(16);
  line-height: calc(28 / 16);
  color: #000;
  font-weight: 400;
}
.p-other__bold {
  margin-right: rem(8);
  font-size: rem(16);
  line-height: calc(28 / 16);
  color: #000;
  font-weight: 700;
}
.p-other__red {
  font-size: rem(16);
  line-height: calc(28 / 16);
  color: #d00303;
  font-weight: 400;
}
.p-other__red span {
  font-weight: 700;
  font-size: rem(24);
  line-height: calc(28 / 24);
}
