@use "global" as *;

.p-point {
}

.p-point__content {
}

.p-point__row {
  display: flex;
  background: #fff;
  padding-top: rem(20);
  padding-bottom: rem(20);
  padding-left: rem(40);
  padding-right: rem(23);
}
.p-point__row + .p-point__row {
  margin-top: rem(30);
}

.p-point__title-wrapper {
  width: rem(225);
}

.p-point__num {
  color: #fff;
  text-transform: uppercase;
  font-size: rem(16);
  font-weight: 700;
  line-height: calc(28 / 16);
  background: #16a88c;
  padding: rem(4) rem(5);
  width: fit-content;
}

.p-point__title {
  font-size: rem(18);
  font-weight: 700;
  line-height: calc(28 / 18);
  color: #1676a8;
  @include mq(md) {
    margin-top: rem(11);
  }
}

.p-point__detail {
  background: #f8f8f8;
  padding-top: rem(28);
  padding-bottom: rem(28);
  padding-left: rem(24);
  padding-right: rem(20);
  width: calc(100% - rem(225));
  margin-left: rem(29);
}

.p-point__text {
  font-size: rem(16);
  line-height: calc(28 / 16);
  color: #000;
}
