@use "global" as *;

.p-swiper {
  padding-top: rem(30);
  padding-bottom: rem(30);
  background: #383636;
}

.swiper-wrapper {
}

.swiper-slide {
}

.p-swiper__link {
}

.p-swiper__img img {
  aspect-ratio: 750 / 390;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-swiper__button {
}
.p-swiper .swiper-button-prev {
  display: none;
  @include mq(md) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 23%;
    display: block;
  }
}

.p-swiper .swiper-button-next {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 23%;
  }
}
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5;
}
.p-swiper .swiper-pagination {
  bottom: rem(-32);
  @include mq(md) {
    display: none;
  }
}
.swiper-pagination-bullet {
  width: rem(10) !important;
  height: rem(10) !important;
  background: #d8d8d8 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #d00303 !important;
}
