@use "global" as *;

.p-search {
  background: #f8f8f8;
  padding-top: rem(65);
  @include mq(md) {
    padding-top: rem(88);
  }
}

.p-search__content {
  margin-top: rem(97);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.p-search__title {
  text-align: center;
}

.p-search__block {
  max-width: rem(1010);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(61);
  @include mq(md) {
    margin-top: rem(56);
  }
}

.p-search__lists {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(30);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(10);
  }
}

.p-search__list {
  filter: drop-shadow(3px 3px 0px rgba(#000, 0.16));
  background: #fff;
  padding-left: rem(14);
  padding-right: rem(14);
  padding-top: rem(20);
  padding-bottom: rem(24);
  @include mq(md) {
    padding-top: rem(22);
    padding-bottom: rem(19);
    padding-left: rem(25);
    padding-right: rem(25);
  }
}

.p-search__row {
  display: flex;
  justify-content: space-between;
  @include mq(md) {
    align-items: center;
  }
}

.p-search__detail {
}

.p-search__list-title {
  font-size: rem(24);
  font-weight: 700;
  line-height: calc(28 / 24);
  color: #000;
}

.p-search__list-text {
  font-size: rem(16);
  line-height: calc(28 / 16);
  color: #000;
  white-space: nowrap;
  @include mq(md) {
    white-space: initial;
  }
}

.p-search__smallImg {
  flex: 1;
  max-width: min(rem(80), calc(80 / 375) * 100vw);
  margin-left: rem(-60);
  @include mq(md) {
    margin-left: initial;
    max-width: rem(150);
  }
}
.p-search__smallImg img {
  aspect-ratio: 150 / 84;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-search__map {
  margin-top: rem(10);
}
.p-search__map iframe {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 320 / 213;
  @include mq(md) {
    aspect-ratio: 450 / 300;
  }
}

.p-search__btn-row {
  margin-top: rem(10);
  display: flex;
  gap: rem(6);
  @include mq(md) {
    display: grid;
    margin-top: rem(15);
    grid-template-columns: repeat(2, 1fr);
    gap: rem(10);
  }
}

.p-search__tel-link {
  background: #ffff00;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(5);
  align-items: center;
  border-radius: rem(10);
  height: rem(50);
  width: rem(220);
  @include mq(md) {
    width: initial;
  }
}
.p-search__tel-link svg {
  max-width: rem(19);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.p-search__tel-number {
  font-size: rem(24);
  font-weight: 700;
  line-height: calc(31 / 24);
  color: #000;
}

.p-search__line-btn {
  display: flex;
  align-items: center;
  background: #70c55e;
  gap: rem(5);
  border-radius: rem(10);
  justify-content: center;
  height: rem(50);
  flex: 1;
}

.p-search__line-text {
  display: none;
  @include mq(md) {
    display: block;
    font-size: rem(16);
    font-weight: 700;
    line-height: calc(28 / 16);
    color: #fff;
  }
}
