@use "global" as *;

.p-swiper {
  background: #f8f8f8;
  @include mq(md) {
    padding-top: rem(30);
    padding-bottom: rem(30);
    background: #383636;
  }
}

.p-swiper__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 375 / 195;
  @include mq(md) {
    aspect-ratio: 750 / 390;
  }
}
.p-swiper .swiper-button-prev {
  display: none;
  @include mq(md) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 23%;
    display: block;
  }
}

.p-swiper .swiper-button-next {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 23%;
  }
}
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5;
}
.p-swiper .swiper-pagination {
  bottom: rem(-32);
  position: static;
  margin-top: rem(8);
  @include mq(md) {
    display: none;
  }
}
.swiper-pagination-bullet {
  width: rem(10) !important;
  height: rem(10) !important;
  background: #d8d8d8 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #d00303 !important;
}
