@use "global" as *;

.p-single {
  background: #f8f8f8;
  padding-top: rem(65);
  padding-bottom: rem(12);
  @include mq(md) {
    padding-top: rem(88);
    padding-bottom: initial;
  }
}

.p-single__content {
  background: #fff;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  margin-top: rem(44);
  padding-top: rem(44);
  padding-left: rem(10);
  padding-right: rem(10);
  padding-bottom: rem(54);
  @include mq(md) {
    margin-top: rem(26);
    padding-top: rem(70);
    padding-bottom: rem(70);
    padding-left: rem(150);
    padding-right: rem(150);
  }
}

.p-single__time {
  font-size: rem(16);
  color: #000;
  line-height: calc(28 / 16);
  @include mq(md) {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}
.p-single__title-wrapper {
  padding-bottom: rem(20);
  border-bottom: 1px solid #707070;
  @include mq(md) {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}

.p-single__title {
  margin-top: rem(20);
  color: #000;
  font-weight: 700;
  font-size: rem(18);
  line-height: calc(28 / 18);
  @include mq(md) {
    line-height: calc(28 / 24);
    font-size: rem(24);
  }
}

.p-single__block {
  padding-bottom: rem(20);
  border-bottom: 1px solid #707070;
  @include mq(md) {
    padding-left: rem(40);
    padding-right: rem(40);
  }
}
.p-single__block p {
  font-size: rem(16);
  line-height: calc(28 / 16);
  color: #000;
  margin-top: rem(20);
}
.p-single__block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  margin-top: rem(20);
}

.p-single__bottom {
  margin-top: rem(32);
  padding-left: rem(23);
  padding-right: rem(23);
  @include mq(md) {
    padding-left: rem(64);
    padding-right: rem(64);
  }
}

.p-single__lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-single__list {
}

.p-single__prev {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
}

.p-single__prev-text {
  color: #000;
  font-size: rem(12);
  text-transform: uppercase;
  font-weight: 700;
}

.p-single__link {
  font-size: rem(16);
  font-weight: 700;
  color: #000;
  line-height: calc(20 / 16);
}
