@use "global" as *;

.p-totop {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    top: rem(110);
    right: rem(67);
    z-index: 9999;
  }
}
.p-totop--search {
  @include mq(md) {
    bottom: rem(-30);
    top: initial;
    right: rem(67);
  }
}
.p-totop--contact {
  @include mq(md) {
    bottom: rem(24);
    top: initial;
    right: rem(67);
  }
}
.p-totop--sp {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: rem(69);
  height: rem(69);
  z-index: 9999;
  display: block;
  @include mq(md) {
    display: none;
  }
}
.p-totop__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffff00;
  border-radius: 9999px;
  flex-direction: column;
  width: rem(70);
  height: rem(70);
  transition: 0.3s ease-in-out;
}
.p-totop__link:hover {
  transform: scale(1.15);
  background: #fff;
  opacity: 1;
}
.p-totop__arrow {
  display: inline-block;
  max-width: rem(12);
  width: 100%;
  margin-top: rem(-8);
}
.p-totop__arrow svg {
  aspect-ratio: 13 / 14;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-totop__arrow path {
  transition: 0.3s ease-in-out;
}
.p-totop__link:hover .p-totop__arrow path {
  fill: #9d9898;
}
.p-totop__text {
  color: #000;
  font-weight: 400;
  font-size: rem(16);
  line-height: 1;
  margin-top: 0;
  transition: 0.3s ease-in-out;
}
.p-totop__link:hover .p-totop__text {
  color: #9d9898;
}
