@use "global" as *;

.p-totop {
  position: fixed;
  z-index: 9999;
  right: rem(63);
  bottom: rem(63);
}
.p-totop--sp {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: rem(69);
  height: rem(69);
  z-index: 9999;
  @include mq(md) {
    display: none;
  }
}
.p-totop__link {
  display: none;
  @include mq(md) {
    display: inline-block;
    width: rem(70);
    height: rem(70);
  }
}
.p-totop__link img {
  aspect-ratio: 70 / 70;
  object-fit: cover;
  width: 100%;
  height: auto;
}
