@use "global" as *;

.p-totop {
  display: none;
  @include mq(md) {
    position: fixed;
    z-index: 9999;
    right: rem(63);
    bottom: rem(63);
    display: block;
  }
}
.p-totop--sp {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: rem(69);
  height: rem(69);
  z-index: 9999;
  display: block;
  @include mq(md) {
    display: none;
  }
}
.p-totop__link {
  display: inline-block;
  width: rem(70);
  height: rem(70);
  transition: 0.3s ease-in-out;
}

.p-totop__link img {
  aspect-ratio: 70 / 70;
  object-fit: cover;
  width: 100%;
  height: auto;
}
