@use "global" as *;

.p-top-achieve {
  padding-top: rem(132);
}

.p-top-achieve__content {
}

.p-top-achieve__title {
  text-align: center;
}

.p-top-achieve__row {
  margin-top: rem(36);
  display: flex;
  gap: rem(30);
}

.p-top-achieve__block {
  background: #f8f8f8;

  @include mq(md) {
    padding: rem(25);
    max-width: rem(450);
    width: 100%;
  }
}
.p-top-achieve__block:nth-child(2) {
  @include mq(md) {
    max-width: rem(620);
    width: 100%;
  }
}
.p-top-achieve__block-title {
  text-align: center;
  background: #1676a8;
  color: #fff;
  font-size: rem(16);
  line-height: calc(28 / 16);
  font-weight: 400;
  padding-top: rem(8);
  padding-bottom: rem(8);
}

.p-top-achieve__blockRow {
  margin-top: rem(20);
  display: flex;
  gap: rem(20);
  padding-left: rem(16);
}

.p-top-achieve__univ {
  max-width: rem(160);
  width: 100%;
}

.p-top-achieve__univ-title {
  font-size: rem(24);
  font-weight: 700;
  color: #000;
  line-height: calc(41 / 24);
  padding-bottom: rem(6);
  text-align: center;
  border-bottom: 1px solid #9d9898;
}

.p-top-achieve__univ-wrapper {
  margin-top: rem(9);
}
.p-top-achieve__univ-row {
  display: flex;
  align-items: center;
  padding-left: rem(19);
  gap: rem(12);
}

.p-top-achieve__name {
  font-size: rem(16);
  font-weight: 400;
  line-height: calc(36 / 16);
  color: #000;
}

.p-top-achieve__high {
}
