@use "global" as *;

.p-top-achieve {
  padding-top: rem(48);
  @include mq(md) {
    padding-top: rem(132);
  }
}

.p-top-achieve__title {
  text-align: center;
}

.p-top-achieve__row {
  margin-top: rem(36);
  @include mq(md) {
    max-width: rem(930);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: rem(30);
  }
}

.p-top-achieve__block {
  background: #f8f8f8;
  padding: rem(25);
  @include mq(md) {
    max-width: rem(450);
    width: 100%;
  }
}
.p-top-achieve__block:nth-child(2) {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: initial;
    max-width: rem(620);
    width: 100%;
  }
}
.p-top-achieve__block-title {
  text-align: center;
  background: #1676a8;
  color: #fff;
  font-size: rem(16);
  line-height: calc(28 / 16);
  font-weight: 400;
  padding-top: rem(8);
  padding-bottom: rem(8);
}
.p-top-achieve__block-title--high {
  background: #d00303;
}
.p-top-achieve__blockRow {
  margin-top: rem(20);
  display: flex;
  justify-content: center;
  gap: rem(20);
  flex: 1;
  @include mq(md) {
    justify-content: initial;
    padding-left: rem(12);
  }
}

.p-top-achieve__univ {
  @include mq(md) {
    max-width: rem(160);
    width: 100%;
  }
}
.p-top-achieve__high-univ {
  width: 100%;
  @include mq(md) {
    max-width: rem(367);
  }
}

.p-top-achieve__univ-title {
  font-weight: 700;
  color: #000;
  padding-bottom: rem(6);
  text-align: center;
  border-bottom: 1px solid #9d9898;
  font-size: rem(18);
  line-height: calc(41 / 18);
  @include mq(md) {
    line-height: calc(41 / 24);
    font-size: rem(24);
  }
}

.p-top-achieve__univ-wrapper {
  margin-top: rem(9);
}
.p-top-achieve__univ-row {
  display: flex;
  align-items: center;
  padding-left: min(rem(19), calc(19 / 1440) * 100vw);
  gap: rem(8);
}
.p-top-achieve__univ-row--special {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    padding-left: initial;
  }
}
.p-top-achive__univ-row svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  max-width: rem(18);
  min-width: rem(18);
  @include mq(md) {
    max-width: min(rem(18), calc(18 / 1440) * 100vw);
    min-width: min(rem(18), calc(18 / 1440) * 100vw);
  }
}
.p-top-achieve__name {
  font-weight: 400;
  line-height: calc(36 / 16);
  font-size: rem(16);
  color: #000;
  @include mq(md) {
    font-size: min(rem(15), calc(15 / 1440) * 100vw);
  }
}
.p-top-achieve__special {
  margin-top: rem(20);
  @include mq(md) {
    margin-left: rem(20);
    padding-right: rem(12);
  }
}
.p-top-achieve__high-row {
  display: flex;
  gap: rem(20);
  justify-content: center;
  @include mq(md) {
    gap: min(rem(56), calc(56 / 1440) * 100vw);
  }
}
