@use "global" as *;

.p-top-choose {
  padding-top: rem(67);
  padding-bottom: rem(42);
  @include mq(md) {
    padding-top: rem(113);
    padding-bottom: rem(120);
  }
}

.p-top-choose__content {
}

.p-top-choose__title {
  text-align: center;
}

.p-top-choose__lists {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: rem(38);
  gap: rem(40);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(24);
    margin-top: rem(32);
  }
}

.p-top-choose__list {
}

.p-top-choose__img {
}
.p-top-choose__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 350 / 190;
  @include mq(md) {
    aspect-ratio: 350 / 350;
  }
}

.p-top-choose__detail {
  filter: drop-shadow(3px 3px 0px rgba(#d8d8d8, 1));
  background: #fff;
  padding: rem(10) rem(12);
  padding-bottom: rem(27);
  @include mq(md) {
    padding: rem(25) rem(12);
  }
}

.p-top-choose__list-title {
  text-align: center;
  font-size: rem(24);
  font-weight: 700;
  color: #000;
  line-height: calc(28 / 24);
}

.p-top-choose__text {
  font-size: rem(16);
  color: #000;
  line-height: calc(28 / 16);
  margin-top: rem(6);
  text-align: center;
  @include mq(md) {
    margin-top: rem(8);
  }
}
.p-top-choose__btn-wrapper {
  text-align: center;
}
.p-top-choose__btn {
  display: inline-block;
  background: #ffff00;
  filter: drop-shadow(3px 3px 0px rgba(#d8d8d8, 1));
  text-align: center;
  font-size: rem(16);
  color: #000;
  line-height: calc(28 / 16);
  transition: 0.3s ease-in-out;
  margin-top: rem(16);
  width: rem(250);
  margin-left: auto;
  margin-right: auto;
  padding-top: rem(13);
  padding-bottom: rem(13);
  position: relative;
  overflow: hidden;
  @include mq(md) {
    padding-top: rem(18);
    padding-bottom: rem(18);
    margin-top: rem(21);
    width: 100%;
  }
}
.p-top-choose__btn::after {
  animation: 4s 0s shine linear infinite;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
}
@keyframes shine {
  20% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}

.p-top-choose__btn:hover {
  background: #d00303;
  color: #fff;
}
