@use "global" as *;

.p-top-news {
  background: #f8f8f8;
  padding-bottom: rem(120);
  padding-top: rem(70);
  @include mq(md) {
    padding-top: rem(120);
  }
}

.p-top-news__content {
  max-width: rem(900);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(3px 3px 0px rgba(#d8d8d8, 1));
  background: #fff;
  padding-top: rem(123);
  padding-bottom: rem(100);
  padding-left: rem(24);
  padding-right: rem(24);
  @include mq(md) {
    padding-left: rem(90);
    padding-right: rem(90);
    padding-top: rem(48);
    padding-bottom: rem(37);
  }
}

.p-top-news__title {
  text-align: center;
}

.p-top-news__lists {
  margin-top: rem(33);
  @include mq(md) {
    margin-top: rem(56);
  }
}

.p-top-news__list {
  display: block;
}
.p-top-news__list + .p-top-news__list {
  margin-top: rem(21);
  @include mq(md) {
    margin-top: rem(56);
  }
}

.p-top-news__link {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(40);
  }
}

.p-top-news__time {
  font-size: rem(16);
  font-weight: 400;
  line-height: calc(28 / 16);
  color: #000;
  @include mq(md) {
    width: rem(80);
  }
}

.p-top-news__text {
  font-size: rem(16);
  color: #1676a8;
  text-decoration: underline;
  line-height: calc(28 / 16);
  flex: 1;
}

.p-top-news__btn-wrapper {
  margin-top: rem(32);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    justify-content: flex-end;
  }
}

.p-top-news__btn {
  display: flex;
  align-items: center;
  gap: rem(11);
}

.p-top-news__btn-text {
  font-size: rem(16);
  font-weight: 400;
  line-height: calc(28 / 16);
  color: #000;
}

.p-top-news__bg {
  width: rem(60);
  height: rem(50);
  display: flex;
  align-items: center;
  justify-items: center;
  background: #ffff00;
}
.p-top-news__bg svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: rem(12);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
